.container {
  text-align: center;
  height: 50px;
  background-color: #9453bd;
  color: white; 
  font-size: 8; 
}

.container1{
  text-align: center;
  height: 600px;
  background-color: #33074F;
  color: white; 
}

.container2{
  text-align: start;
  height: 50px;
  background-color: white;
  color: black; 
  overflow: hidden;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.scrollview{
  overflow-y: scroll;
  height: 350px;
}
